@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Playpen+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Playpen+Sans:wght@100&family=Ubuntu:wght@300&display=swap");
/* font-family: 'Comic Neue', cursive;
font-family: 'Playpen Sans', cursive; */
* {
  box-sizing: border-box;
  margin: 0px;
}

.navbar {
  background-color: #333;
}
.navbar .navbar .navbar-toggler {
  font-size: 30px;
  padding: 35px;
  display: flex;
}
.navbar .navbar .navbar-toggler .navbar .navbar-toggler .nav-link:hover {
  background-color: #333;
  position: left;
  background-position: left;
}
.navbar .navbar .navbar-toggler .navbar .navbar-toggler .nav-link:hover .navbar .navbar-toggler .nav-link:hover .nav-item {
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: cursive;
  position: left;
}

.titulo {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}

.call {
  width: 100%;
  background-color: white;
  color: black;
  padding: 30px;
  border: 5px solid white;
  border-radius: 10px;
}
.call a:hover {
  background-color: #333;
}

.pp {
  margin-bottom: 20px;
}

.texto {
  margin-bottom: 20px;
  /* font-family:  font-family: 'Comic Neue', cursive; */
  font-family: "Playpen Sans", cursive;
}

.boton {
  background-color: #333;
  color: white;
  padding: 15px;
  text-shadow: 0 0 5px black;
  text-decoration: none;
  border-radius: 7px;
  margin-bottom: 10px;
}
.boton:hover {
  background-color: #333;
}

.titulo {
  font-family: cursive;
  font-size: 30px;
}

footer {
  background-color: #333;
  padding: 15px;
}
footer p {
  font-size: 20px;
}
footer p .redes {
  margin-top: 35px;
  color: black;
  font-size: 20px;
}
footer p .redes a {
  color: #adacac;
  letter-spacing: 15px;
  font-size: 30px;
}

.subir {
  background-color: rgba(233, 233, 8, 0.781);
  color: white;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  box-shadow: 0 0 5px white;
}

/* .mapa{
    position: static right;
    right: 100%;
    bottom: 40px;
    text-align: right;
    margin-left: 700px;

} */
.cc {
  text-align: center;
  background-color: white;
}

.redes {
  text-align: center;
  color: rgba(233, 233, 8, 0.781);
  font-size: 30px;
}

.nav-link {
  text-decoration: none;
  font-family: cursive;
  padding: 20px;
}

.contenedor {
  width: 100%;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 300px);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  padding: 30px;
  grid-gap: 15px;
}

.item {
  border: 3px solid white;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  padding: 10px;
}
.item:hover {
  filter: grayscale(75%);
  transform: scale(1.1);
  transition: all 0.9s;
}

.item1 {
  grid-area: img1;
  background-image: url(multime/buzonegro.jpeg);
}

.item2 {
  grid-area: img2;
  background-image: url(multime/buzovioleta.jpeg);
}

.item3 {
  grid-area: img3;
  background-image: url(multime/taza\ homero1.jpeg);
}

.item4 {
  grid-area: img4;
  background-image: url(multime/rememessi.jpeg);
}

.item5 {
  grid-area: img5;
  background-image: url(multime/campera.jpeg);
}

.item6 {
  grid-area: img6;
  background-image: url(multime/buzovioleta.jpeg);
}

.item7 {
  grid-area: img7;
  background-image: url(multime/tazabob.jpeg);
}

.item8 {
  grid-area: img8;
  background-image: url(multime/taza\ perrito.jpeg);
}

p {
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: aliceblue; */
  /* background-position: bottom; */
  /* border: 3px solid #333; */
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
  }
}
.caja {
  background-color: white;
  padding: 30px;
  text-align: center;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}
.caja h2 {
  text-transform: uppercase;
  font-family: "Playpen Sans", cursive;
  color: #333;
}
.caja input:focus {
  font-size: 1.8rem;
  border: 5px dotted #333;
  color: rgba(233, 233, 8, 0.781);
  transition: all 2s;
}
.caja textarea {
  font-size: 1.8rem;
  border: 5px dotted #333;
  color: rgba(233, 233, 8, 0.781);
  transition: all 2s;
}

@media (max-width: 300px) {
  .caja {
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */